<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.AgriBuhayProj.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".ProducerPanel.ProducerAddCrop"
            android:exported="false"
            android:label="Add Crop"/>
        <activity
            android:name=".ProducerPanel.ProducerAddCropList"
            android:exported="false"
            android:label="Crop List" />
        <activity
            android:name=".Printer.DeviceListActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" />
        <activity
            android:name=".Printer.ProducerPrintOrder"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LogisiticsPanel.Delivery_ShippingOrder"
            android:label="Ship Orders" />
        <activity
            android:name=".LogisiticsPanel.DeliveryShipOrderView"
            android:label="Ship Orders" />
        <activity
            android:name=".LogisiticsPanel.DeliveryPendingOrderView"
            android:label="Pending Orders" />
        <activity android:name=".Delivery_FoodPanelBottomNavigation" />
        <activity
            android:name=".Delivery_SendOtp"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".Delivery_ForgotPassword"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".Delivery_Login"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".Delivery_LoginPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".Delivery_VerifyPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".RegistrationDelivery"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".ProducerPanel.ChefPreparedOrderView"
            android:label="Prepared Orders" />
        <activity
            android:name=".ProducerPanel.ChefPreparedOrder"
            android:label="Prepared Orders" />
        <activity
            android:name=".ProducerPanel.ChefOrdertobePrepareView"
            android:label="Orders to be Prepared" />
        <activity
            android:name=".ProducerPanel.ChefOrderTobePrepared"
            android:label="Orders to be Prepared" />
        <activity
            android:name=".RetailerPanel.CustomerPaymentOTP"
            android:label="Online Payment" />
        <activity
            android:name=".RetailerPanel.CustomerOnlinePayment"
            android:label="Online Payment" />
        <activity
            android:name=".RetailerPanel.CustomerPayment"
            android:label="Payable Orders" />
        <activity
            android:name=".RetailerPanel.PayableOrders"
            android:label="Payable Orders" />
        <activity
            android:name=".RetailerPanel.PendingOrders"
            android:label="Pending Orders" />
        <activity
            android:name=".ProducerPanel.Chef_order_dishes"
            android:label="Orders" />
        <activity
            android:name=".RetailerPanel.CustomerPhoneSendOTP"
            android:label="Mobile Number" />
        <activity
            android:name=".RetailerPanel.CustomerPhonenumber"
            android:label="Mobile Number" />
        <activity
            android:name=".RetailerPanel.CustomerForgotpassword"
            android:label="Password" />
        <activity
            android:name=".RetailerPanel.CustomerPassword"
            android:label="Password" />
        <activity android:name=".RetailerPanel.OrderDish" />
        <activity
            android:name=".ProducerPanel.Update_Delete_Dish"
            android:label="Home" />
        <activity
            android:name=".ProducerPanel.Chef_PostDish"
            android:label="Post Product" />
        <activity
            android:name=".ChefFoodPanel_BottomNavigation"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".CustomerFoodPanel_BottomNavigation"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity
            android:name=".MainMenu"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".Chefsendotp"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".Chefloginphone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".sendotp"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".LoginPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".ChefVerifyPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".VerifyPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".ChefForgotPassword"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".ChefLogin"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".ChooseOne"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".RegistrationProducer"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".ForgotPassword"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".RegistrationRetailer"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/AppThemeNoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SendNotification.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".SendNotification.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>