<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.AgriBuhayProj.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name="com.AgriBuhayProj.app.Printer.ProducerPrintOrder"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name="com.AgriBuhayProj.app.LogisiticsPanel.Delivery_ShippingOrder"
            android:label="Ship Orders"></activity>
        <activity
            android:name="com.AgriBuhayProj.app.LogisiticsPanel.DeliveryShipOrderView"
            android:label="Ship Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.LogisiticsPanel.DeliveryPendingOrderView"
            android:label="Pending Orders" />
        <activity android:name="com.AgriBuhayProj.app.Delivery_FoodPanelBottomNavigation" />
        <activity
            android:name="com.AgriBuhayProj.app.Delivery_SendOtp"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Delivery_ForgotPassword"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Delivery_Login"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Delivery_LoginPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Delivery_VerifyPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Delivery_registeration"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerPanel.ChefPreparedOrderView"
            android:label="Prepared Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerPanel.ChefPreparedOrder"
            android:label="Prepared Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerPanel.ChefOrdertobePrepareView"
            android:label="Orders to be Prepared" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerPanel.ChefOrderTobePrepared"
            android:label="Orders to be Prepared" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerPanel.CustomerPaymentOTP"
            android:label="Online Payment" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerPanel.CustomerOnlinePayment"
            android:label="Online Payment" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerPanel.CustomerPayment"
            android:label="Payable Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerPanel.PayableOrders"
            android:label="Payable Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerPanel.PendingOrders"
            android:label="Pending Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerPanel.Chef_order_dishes"
            android:label="Orders" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerPanel.CustomerPhoneSendOTP"
            android:label="Mobile Number" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerPanel.CustomerPhonenumber"
            android:label="Mobile Number" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerPanel.CustomerForgotpassword"
            android:label="Password" />
        <activity
            android:name="com.AgriBuhayProj.app.RetailerPanel.CustomerPassword"
            android:label="Password" />
        <activity android:name="com.AgriBuhayProj.app.RetailerPanel.OrderDish" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerPanel.Update_Delete_Dish"
            android:label="Home" />
        <activity
            android:name="com.AgriBuhayProj.app.ProducerPanel.Chef_PostDish"
            android:label="Post Product" />
        <activity
            android:name="com.AgriBuhayProj.app.ChefFoodPanel_BottomNavigation"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.AgriBuhayProj.app.CustomerFoodPanel_BottomNavigation"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity
            android:name="com.AgriBuhayProj.app.MainMenu"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Chefsendotp"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Chefloginphone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.sendotp"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.LoginPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.ChefVerifyPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.VerifyPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.ChefForgotPassword"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.ChefLogin"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.ChooseOne"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Producer_Registration"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.ForgotPassword"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Login"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.AgriBuhayProj.app.Registeration"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name=".Printer.DeviceListActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog"></activity>
        <activity
            android:name="com.AgriBuhayProj.app.MainActivity"
            android:theme="@style/AppThemeNoActionbar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.AgriBuhayProj.app.SendNotification.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.AgriBuhayProj.app.SendNotification.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>